---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Container from "../layouts/Container.astro";
import MainTitle from "../components/ui/MainTitle.astro";
import BgHome from "../assets/home/bg_home.png";
import worker from "../assets/home/worker.png";
import ServiceCard from "../components/ui/ServiceCard.astro";
import { services } from "../content/data-services-bm";
import ButtonGolden from "../components/ui/ButtonGolden.astro";
import Stats from "../components/ui/Stats.astro";
import WorksCarousel from "../components/ui/WorksCarousel.astro";
import FormContact from "../components/ui/FormContact.astro";
import ButtonBlue from "../components/ui/ButtonBlue.astro";
---

<Layout 
  title="BM Acabados de Excelencia | Servicios de Construcción y Remodelación en Lima"
  description="Servicios generales de acabados y revestimientos de construcción en Lima, Perú. Expertos en drywall, pintura en general, enchapes, mármol y remodelaciones de calidad."
>
  <!-- Hero -->
  <section id="home" class="relative w-full" data-scroll-reveal="">
    <Image
      src={BgHome}
      class="h-96 2xl:h-[470px] object-cover w-full brightness-75"
      alt="Imagen de Fondo"
      loading="eager"
    />
    <Container class="absolute inset-0 animate__animated">
      <div
        class="h-full flex flex-col justify-center space-y-5 lg:space-y-6 text-center"
        data-reveal-header
      >
        <h1
          class="text-2xl text-white md:text-6xl lg:text-7xl 2xl:text-8xl font-extrabold font-encode-sans"
        >
          EN <span
            class="text-goldenPrimary text-2xl md:text-6xl lg:text-7xl 2xl:text-8xl"
            >BM</span
          > ACABADOS DE
          <span
            class="text-goldenPrimary text-2xl md:text-6xl lg:text-7xl 2xl:text-8xl"
            >EXCELENCIA</span
          >
        </h1>
        <p class="text-white">
          Ofrecemos servicios generales especializados en acabados y
          revestimientos para todo tipo de espacios, combinando funcionalidad y
          estética.
        </p>
        <div class="flex mx-auto space-x-3">
          <ButtonGolden nameButton="Contactar" route="#contacto" />
          <ButtonBlue nameButton="Ver Servicios" route="/services" />
        </div>
      </div>
    </Container>
  </section>

  <!-- About Us -->
  <section id="about-us" class="bg-zinc-100" data-scroll-reveal>
    <Container>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 gap-x-4 md:gap-x-8 justify-center sm:justify-between items-center space-y-4 py-14 sm:py-24"
        data-reveal-header
      >
        <div
          class="flex flex-col justify-center items-center space-y-2 sm:items-start sm:order-2 text-center sm:text-left"
        >
          <MainTitle nameTitle="¿Quiénes Somos?" />
          <p class="">
            Somos BM Acabados y nos enfocamos en entregar acabados de alta
            calidad a construcciones, combinando experiencia, profesionalismo y
            un compromiso constante con la satisfacción de nuestros clientes.
          </p>
        </div>
        <div class="sm:order-1">
          <Image
            src={worker}
            class="m-auto max-h-36 sm:max-h-52 bg-cover rounded-xl object-cover object-top"
            alt="Imagen de Trabajador"
          />
        </div>
      </div>
    </Container>
  </section>

  <section
    id="cards-services"
    class="px-4 sm:px-6 md:px-8 bg-white pb-4 sm:pb-14 overflow-hidden"
    data-scroll-reveal
  >
    <Container>
      <div class="flex flex-col items-center pt-4 md:pt-20 pb-8 space-y-12">
        <div
          id="services-header"
          class="md:w-3/5 mx-auto text-center space-y-4"
        >
          <MainTitle nameTitle="Nuestros Servicios" class="mx-auto" />
          <p class="text-zinc-800">
            Realizamos multiservicios como Pintura en General, Sistema de
            Drywall, Carpintería, Gasfitería, Mármol y Granito, Estuco Veneciano
            y mucho más
          </p>
        </div>
        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mt-8 justify-items-center"
        >
          {
            services.slice(0, 6).map((service) => (
              <div class="service-card-wrapper">
                <ServiceCard
                  slug={service.slug}
                  title={service.title}
                  shortDescription={service.shortDescription}
                  image={service.image}
                  icon={service.icon}
                />
              </div>
            ))
          }
        </div>
        <div id="services-button" data-reveal-button>
          <ButtonBlue
            nameButton="Más servicios"
            route="/services"
            data-reveal-header
          />
        </div>
      </div>
    </Container>
  </section>

  <!-- Stats Data BM  -->
  <section id="stats-home" class="w-full bg-goldenPrimary py-2 md:py-3">
    <Container>
      <Stats />
    </Container>
  </section>

  <!-- Carousel Servicios -->
  <section id="works">
    <div
      id="works"
      class="py-10 md:py-20 bg-zinc-100 border-t border-zinc-100 overflow-hidden"
      data-scroll-reveal
    >
      <Container>
        <div class="space-y-8 relative" data-reveal-header>
          <div class="flex flex-col items-center sm:items-start">
            <MainTitle nameTitle="Trabajos destacados" data-reveal-item />
          </div>
          <WorksCarousel data-reveal-item />
        </div>
      </Container>
    </div>
    <div class="h-2 bg-goldenSecondary"></div>
  </section>

  <!-- Contáctanos -->
  <section
    id="contacto"
    class="py-14 md:py-20 lg:py-32 bg-bluePrimary"
    data-scroll-reveal
  >
    <Container>
      <div class="flex flex-col items-center space-y-12" data-reveal-header>
        <MainTitle
          nameTitle="Contáctanos"
          class="text-white"
          data-reveal-item
        />
        <FormContact data-reveal-item />
      </div>
    </Container>
  </section>
</Layout>
