---
import { Image } from "astro:assets";
interface Props {
  benefit: string;
  image: ImageMetadata | string | any;
  alt?: string;
  class?: string;
  width?: number;
  height?: number;
}

const {
  benefit,
  image,
  alt = "",
  class: className,
  width = 40,
  height = 40,
} = Astro.props;
---

<article
  class="bg-goldenPrimary flex flex-col items-center justify-center py-16 h-24 w-36 lg:h-32 lg:w-52 rounded-xl hover:-translate-y-2 duration-150 transition"
>
  <Image
    src={image}
    alt={alt}
    width={width}
    height={height}
    class:list={[className]}
  />
  <h5 class="text-white whitespace-pre-line text-center">{benefit}</h5>
</article>
